.navbar {
  background-image: url("bar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  color: white;
}
h1 {
  padding-right: 20px;
}
body {
  background-image: url("bac.jpg");
  background-repeat: repeat-y;

  background-size: cover;
}
.bar {
  background-color: black;
  padding: 20px 20px;
}
.bar a {
  color: white;
  display: inline;
  text-align: center;
  padding: 20px 20px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 17px;
}
h1 a {
  color: white;
  display: inline;
  text-align: center;
  margin-left: 20px;
  text-decoration: none;
}
.bar a:hover,
h1 a:hover {
  color: #cb997e;
}
h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
p {
  padding: 5px 5px;
}
.about {
  background-color: white;
  height: 700px;
}
.regist {
  background-color: white;
  height: 1200px;
}
.content {
  background-color: white;
  height: 570px;
}
label {
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
}
.la {
  font-size: 15px;
  padding-right: 10px;
}
select {
  padding: 6px;
  padding-right: 30px;
}
.but {
  text-align: center;
}
input[type="submit"] {
  padding: 14px 40px;
  border-radius: 12px;
  background-color: #583101;
  color: white;
  font-size: 17px;
}
input[type="submit"]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.about1 {
  background-image: url("img.png");
  background-size: 700px 700px;
  background-repeat: no-repeat;
  background-position: right;
  font-weight: bold;
  font-size: 17px;
}
.about2 {
  background-image: url("corona.png");
  background-size: 550px 700px;
  background-repeat: no-repeat;
  background-position: left;
  font-weight: bold;
  font-size: 17px;
}
.err {
  color: red;
}
